.app-wrapper{
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 80px 1fr 80px;
  grid-gap: 10px;
  grid-template-areas: 
    "h h"
    "n s"
    "f f"
  ;
}


.header{
  grid-area: h;
  background-color: olive;
  display: grid;
  grid-template-columns: 1fr 30fr;
}

.header img{
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: #fff;
  margin: 10px;
}

.nav{
  grid-area: n;
  background-color: lightseagreen;
}

.content{
  grid-area: s;
  background-color: lightslategrey;

}

/* .sidebar{
  grid-area: s;
  background-color: lightslategrey;
}

.footer{
  grid-area: f;
  background-color: coral;
} */